# =========================
# MD / Amber outputs
# =========================

# Amber output files
*.out
*.info
*.log

# Trajectories
*.nc
*.mdcrd
*.dcd

# Restart / coordinate files
*.rst
*.rst7
*.ncrst

# Topology (usually generated)
*.parm7
*.prmtop

# Velocities / energies
*.vel
*.ene

# Checkpoints / backups
*.bak
*.old

# Slurm error file
*.err

# dftb outputs
systems/**/dftb/

# Generated systems
systems/

# Python bytecode
__pycache__/
*.pyc

# Bibliography
literature
